beautifulsoup4>=4.9.3
lxml>=4.6.2
matplotlib==3.5.0  # See drake #14250 (it should be whatever version pip install matplotlib pulls on mac)
mysql-connector-python>=8.0.23
nbconvert>=6.0.7
pycodestyle>=2.6.0
pydocstyle>=5.1.1
requests>=2.25.1
yapf>=0.30.0
